h2{
   font-size: 100%;
    font-family: sans-serif;
}
.titulo{
    font-size: 200%;
    padding: 50px 20px;
    background-color:#FF9D4D;
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
}
/* --------------Este es un comentario en CSS --------------*/
.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 80%;
  height: 150px;
  width: 90em;
  overflow: auto;
    text-align: center;
}
.flat-table th {
  background-color:firebrick;
  color: white;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}
.flat-table td {
  background-color: #eeeeee;
  color: #6f6f6f;
  padding: 10px 40px;
    
}

/* --------------Este es un comentario en CSS --------------*/

.flat-table2 {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 80%;
  height: 150px;
  width: 79em;
  overflow: auto;
  text-align: center;
}
.flat-table2 th {
  background-color:#70c469;
  color: white;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}
.flat-table2 td {
  background-color: #eeeeee;
  color: #6f6f6f;
  padding: 10px 40px;
}

/*-------------- Este es un comentario en CSS --------------*/
.flat-table3 {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
text-align: center;
  font-size: 80%;
  height: 150px;
  width: 65em;
  overflow: auto;
}
.flat-table3 th {
  background-color:#0088FF;
  color: white;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}
.flat-table3 td {
  background-color: #eeeeee;
  color: #6f6f6f;
  padding: 10px 40px;
}

/*-------------- Este es un comentario en CSS --------------*/
#cont{
    margin-top: 40px;
    
}

#cont h2{
    text-align: center;
}

#cont table{
    margin-left: auto;
    margin-right: auto;
}
